---
title: photos.log
---

<div class="gallery grid">
<% data.photos.photos.photo.each do |item| %>
  <a href="./photo/<%= item.id %>" > <img class="gallery_item" src="<%= item.url_z %>"></img> </a>
<% end %>
</div>

<%= link_to(
  "Read Documentation",
  "https://middlemanapp.com/basics/templating_language/",
  target: "_blank"
) %>

